@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,wdth,slnt,ROND@6..144,1..1000,25..151,-10..0,0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redacted&display=swap");

:root {
  --background-color: #040011;
  --text-color: lab(94.85% -0.97 10.49);
  --primary-purple: #4d00ff;
  --primary-purple-light: #9162ff3f;
  --primary-pink: #ff0099;
  --primary-pink-light: #ff62d83f;
  --primary-green: #00fa9a;
  --purple-border: #cab3ff65;
  --purple-light: hsl(258, 46%, 89%);
  --accent-blue: #100036;
  --dark-transparent: rgba(52, 44, 97, 0.714);
  --roblox-red: #e2231a;
  --roblox-red-light: #ff665f40;
}

body {
  background-color: var(--background-color);
  font-family: "Google Sans Flex";
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "GRAD" 0,
    "ROND" 50;
  font-style: normal;
  padding: 20px;
  color: var(--text-color);
}

.nomargin {
  margin: 0;
}

h1::selection {
  background: var(--primary-purple);
  color: var(--primary-green);
  text-shadow: none;
}
::-moz-selection {
  background: var(--primary-purple);
  color: var(--primary-green);
  text-shadow: none;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.centreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 40px;
}

#startingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#statList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.statRow {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  user-select: none;
}

.borderHover {
  transition: all 0.1s ease;
}

.borderHover:hover {
  border-radius: 5px;
  transform: translateY(-5px);
  filter: drop-shadow(0px 5px 0 var(--primary-purple));
}

.borderHover:active {
  transform: translateY(0);
  scale: 0.9;
  filter: drop-shadow(0px 0px 0 var(--primary-purple));
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .PCOnly {
    display: none;
  }

  .centreSection {
    gap: 30px;
  }

  .hundredPercentOnMobile {
    width: 100% !important;
    max-width: 100% !important;
  }

  .navbar {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  #startingTextContainer {
    align-items: center;
  }

  #statList {
    width: 100%;
    align-items: center;
  }

  .statRow {
    align-items: center;
    /* New line only if needed */
    display: flex;
    flex-direction: row;
    /* wrapping */
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 8px;
  }

  .navbar {
    bottom: 10px;
    gap: 0.2rem;
    padding: 0.3rem;
  }

  .navButton {
    padding: 0.2rem 0.6rem;
    font-size: 0.3rem;
    min-height: 32px;
  }

  .navButton span {
    font-size: 12px;
  }

  .centreSection {
    gap: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.scaleSpawnDelayed {
  animation: scaleSpawnDelayed 1.75s ease;
  animation-timing-function: linear(
    0,
    0.528 7%,
    0.921 14.4%,
    1.07 18.3%,
    1.19 22.4%,
    1.28 26.7%,
    1.34 31.2%,
    1.366 34.5%,
    1.378 38%,
    1.377 41.7%,
    1.363 45.6%,
    1.308 53.3%,
    1.13 71.3%,
    1.059 80.1%,
    1.013 89.7%,
    1
  );
}

@keyframes scaleSpawnDelayed {
  0% {
    scale: 0;
    opacity: 0;
  }
  75% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.scaleSpawn {
  animation: scaleSpawn 0.75s ease;
  animation-timing-function: linear(
    0,
    0.26 4.2%,
    0.485 8.4%,
    0.683 12.7%,
    0.772 14.9%,
    0.857 17.2%,
    0.933 19.5%,
    1.002 21.8%,
    1.063 24.1%,
    1.118 26.5%,
    1.167 28.9%,
    1.209 31.4%,
    1.244 33.9%,
    1.273 36.4%,
    1.292 38.5%,
    1.307 40.7%,
    1.317 42.9%,
    1.324 45.1%,
    1.327 47.4%,
    1.325 49.7%,
    1.32 52.2%,
    1.311 54.7%,
    1.3 56.9%,
    1.287 59.1%,
    1.252 64%,
    1.211 68.8%,
    1.099 80.9%,
    1.071 84.3%,
    1.048 87.4%,
    1.027 90.8%,
    1.012 94%,
    1.003 97.1%,
    1
  );
}

@keyframes scaleSpawn {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.fadeColor {
  transition: color 0.4s ease;
}

.wave {
  animation: wave 2s ease-in-out;
}
.wave:hover {
  animation: wave 2s ease-in-out infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loaderInside {
  animation: loaderInsideAnim 1.5s ease infinite;
}
@keyframes loaderInsideAnim {
  0% {
    transform: translateX(0%);
    width: 10%;
  }
  50% {
    transform: translateX(100%);
    width: 50%;
  }
  100% {
    transform: translateX(0%);
    width: 10%;
  }
}

.linkButton {
  background-color: var(--primary-purple);
  color: var(--text-color);
  border-color: var(--purple-border);
  transition: all 0.1s ease;
  font-family: "Google Sans Flex";
}
.linkButton:hover {
  background-color: var(--primary-purple);
  color: var(--text-color);
  transform: translateY(-5px) translateX(-2px);
  filter: drop-shadow(2px 5px 0 var(--primary-purple));
}
.linkButton:active {
  transform: translateY(0) translateX(0);
  filter: drop-shadow(0px 0px 0 var(--primary-purple));
}

.linkButton--roblox {
  background-color: var(--roblox-red);
  border-color: #ff9f99;
}

.linkButton--roblox:hover {
  background-color: var(--roblox-red);
  color: #ffd8d6;
  filter: drop-shadow(2px 5px 0 var(--roblox-red));
}

.linkButton--roblox:active {
  filter: drop-shadow(0px 0px 0 var(--roblox-red));
}

.spinAnimation {
  animation: spinAnim 5s ease infinite;
}

@keyframes spinAnim {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scaleIn {
  animation: scaleInAnim 0.8s ease;
  animation-timing-function: linear(
    0,
    0.002 0.3%,
    0.007 0.6%,
    0.029 1.3%,
    0.065 2%,
    0.119 2.8%,
    0.237 4.2%,
    0.659 8.7%,
    0.778 10.2%,
    0.871 11.6%,
    0.95 13.1%,
    1.009 14.6%,
    1.033 15.4%,
    1.052 16.2%,
    1.066 17%,
    1.078 17.9%,
    1.085 18.8%,
    1.088 19.7%,
    1.088 20.7%,
    1.085 21.7%,
    1.074 23.6%,
    1.032 28.7%,
    1.014 31.4%,
    1.006 33%,
    1 34.6%,
    0.993 38%,
    0.992 41.9%,
    0.999 51.4%,
    1.001 57.6%,
    1
  );
}

@keyframes scaleInAnim {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.cardButton {
  transition: all 0.1s ease;
}

.cardButton:hover {
  transform: translateY(-5px) translateX(-2px);
  filter: drop-shadow(2px 5px 0 var(--primary-pink));
}

.cardButton:active {
  transform: translateY(0) translateX(0);
  filter: drop-shadow(0px 0px 0 var(--text-color));
  border-radius: 100px !important;
}

.detailStat {
  font-family: "Google Sans Flex";
  font-optical-sizing: auto;
  font-variation-settings:
    "wght" 1000,
    "wdth" 151,
    "slnt" -10,
    "GRAD" 0,
    "ROND" 100;
}

.statusCompleted {
  color: var(--primary-green);
}
.statusOngoing {
  color: var(--primary-purple);
}
.statusPlanned {
  color: yellow;
}
.statusPaused {
  color: orangered;
}
.statusCancelled {
  color: var(--primary-pink);
}

.ghostButton:hover {
  color: var(--primary-pink) !important;
  transform: translateY(-2px) translateX(-2px);
}

.ghostButton:active {
  color: var(--text-color) !important;
  transform: translateY(0) translateX(0);
}

.primaryButton:hover {
  font-variation-settings:
    "wght" 1000,
    "wdth" 151,
    "slnt" 0,
    "GRAD" 0,
    "ROND" 100 !important;
}
